<section>
    <div class="container mx-auto bg-gray w-1/2">
        <h1 class="text-2xl font-bold">Followers</h1>
        <%for(var friend of users){%>
            <div class="flex items-center justify-around mt-8 mb-4">
                <div class="w-1/2 flex items-center">
                    <img src="<%=(friend.profilepicPath!==""?friend.profilepicPath:"/images/noProfilepic.png")%>" class="w-24 h-24 rounded-full" alt="">
                    <div>
                    <h1 class="text-2xl font-bold ml-4"><%=friend.name%></h1>
                    <p class="text-medium ml-4"><%=friend.bio%></p>
                    </div>
                </div>
                <div class="w-1/2">
                <a href="/viewProfile/<%=friend._id%>" class="font-bold btn-viewProfile inline-block px-4 py-2 rounded-full mr-8">View Profile</a>
                <% if(ufollow.includes(JSON.stringify(friend._id))){%>
                    <a href="" class="font-bold btn-viewProfile bg-gray-800 inline-block px-4 py-2 rounded-full mr-8">Following</a>
                <%} else {%>    
                <a href="" class="font-bold btn-viewProfile inline-block px-4 py-2 rounded-full mr-8">Follow back</a>
                <%}%>
            </div>
            </div>
            <%}%>
    </div>
</section>